@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
    --font-sans: "Barlow", "Instrument Sans", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --animate-fad-out: fade-out 4s ease-in-out forwards;
}

@keyframes fade-out {
    0%,
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

:root {
    --dark-vanila: #dec7a6;
    --dark: #121212;
}

body {
    background-color: #f8f5ef;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }
}

input:focus,
input:focus-within,
textarea:focus,
textarea:focus-within {
    outline: none;
}
